body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.progessBar {
  display: flex;
}

.progress {
  width: 200px;
  height: 50px;
  margin: 10px;
}

.player {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  border: none;
  padding: 10px;
  background-color: aqua;
  border-radius: 5px;
  margin: 10px 0 10px 0;
}

.playerAttactScore {
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar{
  display: none;
  /* visibility: hidden; */
}

